// Custom fonts faces
@font-face {
  font-family: 'New Rail Alphabet';
  src: url('../fonts/NewRailAlphabet-Bold.woff2') format('woff2'),
    url('../fonts/NewRailAlphabet-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New Rail Alphabet White';
  src: url('../fonts/NewRailAlphabet-White.woff2') format('woff2'),
    url('../fonts/NewRailAlphabet-White.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New Rail Alphabet';
  src: url('../fonts/NewRailAlphabet-Light.woff2') format('woff2'),
    url('../fonts/NewRailAlphabet-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'New Rail Alphabet';
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  overflow-x: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'New Rail Alphabet';
  }

  p,
  span {
    font-family: 'New Rail Alphabet';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }

  a {
    font-family: 'New Rail Alphabet';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }

    &.active {
      color: inherit;
      text-decoration: none;
    }
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'New Rail Alphabet';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }
}